<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<settings>
  <skin>Yosemitesque</skin>
  <language>English</language>

  <audioDevice></audioDevice>

  <notifyIcon>true</notifyIcon>
  <soundEffects>true</soundEffects>
  <onTop>true</onTop>
  <hideFullscreen>true</hideFullscreen>

  <hideDelay>800</hideDelay>
  <hideAnimation>Fade</hideAnimation>
  <animationSpeed>765</animationSpeed>

  <position>Bottom</position>
  <positionOffset>140</positionOffset>
  <positionX>0</positionX>
  <positionY>0</positionY>

  <hotkeys>
    <hotkey combination="524296">
      <action id="100"></action>
    </hotkey>
  </hotkeys>
</settings>