<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<settings>
  <skin>Yosemitesque</skin>
  <language>English</language>

  <audioDeviceID></audioDeviceID>

  <notifyIcon>true</notifyIcon>
  <soundEffects>true</soundEffects>
  <onTop>true</onTop>
  <hideFullscreen>true</hideFullscreen>

  <hideAnimation>Fade</hideAnimation>
  <hideDelay>800</hideDelay>
  <hideSpeed>765</hideSpeed>

  <osdPosition>Bottom</osdPosition>
  <osdEdgeOffset>140</osdEdgeOffset>
  <osdX>0</osdX>
  <osdY>0</osdY>

  <hotkeys>
    <hotkey combination="524296">
      <action id="100"></action>
    </hotkey>
  </hotkeys>
</settings>