<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<settings>
  <skin>Notes</skin>
  <language>English</language>

  <notifyicon>True</notifyicon>
  <playsounds>True</playsounds>

  <osd position="Default"/>

  <hotkeys>
    <hotkey action="VolumeUp">524326</hotkey>
    <hotkey action="VolumeDown">80001</hotkey>
  </hotkeys>
</settings>